{% load i18n admin_urls %}
<div class="submit-row">
{% if show_save %}<input type="submit" value="Guardar" class="default" name="_save">{% endif %}
{% if show_save_as_new %}<input type="submit" value="Guardar como nuevo" name="_saveasnew">{% endif %}
{% if show_save_and_add_another %}<input type="submit" value="Guardar y añadir otro" name="_addanother">{% endif %}
{% if show_save_and_continue %}<input type="submit" value="{% if can_change %}Guardar y continuar editando{% else %}Guardar y ver{% endif %}" name="_continue">{% endif %}
{% if show_close %}
    {% url opts|admin_urlname:'changelist' as changelist_url %}
    <a role="button" href="{% add_preserved_filters changelist_url %}" class="closelink">Cerrar</a>
{% endif %}
{% if show_delete_link and original and original.activo %}
    {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
    <a role="button" href="{% add_preserved_filters delete_url %}" class="deletelink">Desactivar producto</a>
{% endif %}
</div>
